<div class="main-container top">
  <div class="row">
    <div class="col-12 col-lg-4">
    <div class="sidebar-left">
      <div class="sidebar">
        <div class="profile-photo">
          <%= cl_image_tag @user.photo, width: 300, height: 300, crop: :fill, class: "photo" %>
        </div>

        <h2> <%= @user.username %></h2>

        <ul>
          <li><%= @user.gender %> • <%= @user.age %></li>
          <li><%= @user.location %></li>
        </ul>

    <!--     <% if policy(@user).edit? %>
          <%= link_to "Edit your page", edit_user_registration_path  %>
        <% end %> -->

        <div class="btn-book">
          <%= link_to "Book #{@user.username}", new_user_transaction_path(@user.id), class: "btn btn-primary button" %>
        </div>
      </div>

      <div class="sidebar mt-3 ">
        <h2>Bio</h2>
        <p> <%= @user.description %></p>
        </ul>
      </div>
    </div>
    </div>




    <div class="col-12 col-lg-8 ">

    <div class="info-part text-center " >
      <h1><i class="fas fa-comments-dollar"></i> Trademarks and Prices</h1>

      <ul>
        <% @user.trademarks.each do |trademark| %>
        <ul class="list-inline ">
        </ul>
          <li><%= trademark.skill %> - RMB 100 </li>
        <% end %>
    </div>
      </ul>
    </div>
    </div>

  </div>
</div>






<div class="info-part">
  <% @markers.each_with_index do |marker, index| %>
    <div class="map"></div>
  <% end %>
</div>

<script>
  let markers = <%= @markers.to_json.to_s.html_safe %>
</script>
